In [ ]:
# List comprehensention

In [1]:
squres = []

for i in range(10):
    squres.append(i**2) # list append
    
print(squres)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
lst = [-10, -20, 10, 20, 50]

#create a new list with the value doubled



# filter the list to exclude negative numbers
       
# create a list of tuples like (number, square_of_number)

In [5]:
#create a new list with the value doubled
[i*2 for i in lst]

[-20, -40, 20, 40, 100]

In [7]:
# filter the list to exclude negative numbers

[i for i in lst if i <= 0]

[-10, -20]

In [8]:
# create a list of tuples like (number, square_of_number) 

[(i, i**2) for i in lst]

[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

In [ ]:
# from 0 till 20

In [ ]:
[0,1,2.....20]

In [10]:
["odd" if i%2 !=0 else "Even" for i in range(21)]

['Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even']

In [11]:
["Even" if i%2 ==0 else "Odd" for i in range(21)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [12]:
matrix = []

for i in range(3):
    matrix.append([])
    for j in range(3):
        matrix[i].append(j)
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [13]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]